spring:
  application:
    name: backend

  datasource:
    url: jdbc:mysql://localhost:3306/collegemanagementsystem?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root        # ${DB_USERNAME}
    password: Jena@123    # ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      maximum-pool-size: 10             # Maximum active DB connections
      minimum-idle: 2                   # Minimum idle connections
      idle-timeout: 30000               # Time before idle connection is closed
      max-lifetime: 1800000             # Maximum lifetime of a connection
      connection-timeout: 30000         # Max wait time for connection
      leak-detection-threshold: 20000   # Logs a warning if a connection is held for more than 20 seconds

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          time_zone: UTC

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        orm:
          jdbc:
            bind: TRACE

server:
  port: 8080
